{% extends 'base.html'%}
{% block title %}Student Data{% endblock %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} 
    class="{{ message.tags }}"{% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
    {% endif %}
  <div class="container mt-4 d-flex flex-wrap gap-4 justify-content-between container">
{%for student in student_data%}
 <div class="card" style="width: 18rem;height: 25rem;">
  <img src="{{student.photo.url}}" class="card-img-top" alt="..." style="width: 18rem;height: 15rem;">
  <div class="card-body"
    <h5 class="card-title">{{student.name}}</h5>
    <p class="card-text">{{student.email}}</p>
   
    <a href="{% url 'delete_student' student.unique_ID %}" class="btn btn-danger" method="post">Delete</a>
  
    <a href="{% url 'edit_student' unique_ID=student.unique_ID %}" class="btn btn-warning">Edit</a>
  </div>
</div>
{%endfor%}
  </div>
  <script>
  // যখন page fully load হয়ে যায়
  window.addEventListener("load", function () {
    // check করো query parameter আছে কি না
    const url = new URL(window.location.href);
    if (url.searchParams.has("q")) {
      // URL থেকে query param remove করো
      url.searchParams.delete("q");
      window.history.replaceState({}, document.title, url.pathname);
    }
  });
</script>

{% endblock %}