{%load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'data' %}">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Create Student</a>
        </li>
       
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% block content %}

{% endblock %}


    {% comment %} <form class="container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      
        <div class="mb-3">
        <label for="name" class="form-label">Enter Name</label>
        <input type="text" class="form-control" id="name" name="name" required/>
        <div id="nameHelp" class="form-text">Enter your full name.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required/>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" required/>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox" required/>
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="mb-3">
  <label for="formFile" class="form-label">Share your photo</label>
  <input class="form-control" type="file" id="formFile" name="photo" required/>
</div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
     {% endcomment %}
     
{% comment %} <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
     
      <form class="container" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <p></p> {% endcomment %}

    {% comment %} <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Checkbox</th>
        </tr>
      </thead>
      <tbody>
        {% for student in student_data %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.password }}</td>
          <td>{{ student.checkbox }}</td>
        </tr>
        {% endfor %}
      </tbody>
</table> {% endcomment %}
  </body>
</html>
